* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    background-color: #baa0bd;
}

#winner-message {
    display: relative;
}

#container {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: min(100vh, 100vw);
    height: 100%;
    align-items: center;
    border-radius: 30px;
    background-color: thistle;
    margin: auto;
}

h1 {
    font-size: 96px;
    text-align: center;
    font-family: 'Fredoka One', sans-serif;
    text-shadow: 3px 3px black;
}

h1>.w1 {
    color: #134594
}

h1>.w2 {
    color: #139476
}

h1>.w3 {
    color: #945413
}

.stats-panel {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
}

#winner-container {
    transition: transform 0.2s cubic-bezier(0.5, 1, 0.89, 1);
    transform: scale(0, 0);
    padding-bottom: 5px;
    flex: 0 0 auto;
}

#winner-text,
.stats-text,
.stats-text-label {
    vertical-align: middle;
    font-family: 'Fredoka One', sans-serif;
    font-size: 32px;
    color: #139476;
    text-shadow: 2px 2px black;
}

.winner-icon {
    vertical-align: middle;
    height: 32px;
    filter: drop-shadow(2px 2px 1px black);
}

#rematch-button {
    vertical-align: middle;
    height: 32px;
    filter: drop-shadow(2px 2px 1px black);
    background-color: #139476;
    font-family: 'Fredoka One', sans-serif;
    font-size: 20px;
    margin: 4px;
    line-height: 0;
    border: none;
    border-radius: 10px;
    transition: transform 0.1s cubic-bezier(0.5, 1, 0.89, 1);
}

#rematch-button>span {
    margin: 6px;
}

#rematch-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#rematch-button:active {
    cursor: pointer;
    transform: scale(0.9);
}

.match-stats {
    flex: 0 0 auto;
    text-align: right;
}

.stats-text {
    padding-right: 10px;
}

#game-board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: max(0.1vw, 0.5%);
    aspect-ratio: 1;
    background-color: black;
    margin: 0;
    padding: 0;
    max-width: 100%;
    margin-bottom: 15px;
    flex-grow: 1;
}

/* @media (orientation: portrait) {
    #game-board-container {
        max-height: 100%;
        width: 100%;
    }
}

@media (orientation: landscape) {
    #game-board-container {
        height: 100%;
        max-width: 100%;
    }
} */

.cell {
    background-color: thistle;
    opacity: 100%;
    text-align: center;
    background-image: radial-gradient(farthest-side, rgba(19, 148, 118, 0.35), rgba(19, 148, 118, 0.35) 100%, transparent 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0% 0%;
    transition: background-size 0.2s cubic-bezier(0.5, 1, 0.89, 1);
    position: relative;
}

.cell:hover {
    background-size: 142% 142%;
    /* sqrt(2) */
    cursor: pointer;
}

.marker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0%;
    transition: background-size 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
    opacity: 100%;
    filter: drop-shadow(4px 4px 2px black);
}

.cross {
    background-image: url("./cross.png");
}

.circle {
    background-image: url("./circle.png");
}